<div class="nhsuk-form-group">
    <label class="nhsuk-label" for="select-1">
        {{ trans['Change language'] }}
      </label>
      <select class="nhsuk-select" id="select-2" name="select-2" hx-get="/changeLanguage" hx-swap="outerHTML" hx-include="[id='select-2']">
        <option value="en" {{ selected['en'] }}>English</option>
        <option value="fi" {{ selected['fi'] }}>Finnish</option>
        <option value="fr" {{ selected['fr'] }}>French</option>
        <option value="it" {{ selected['it'] }}>Italian</option>
        <option value="sv" {{ selected['sv'] }}>Swedish</option>
    </select>
</div>
